<%= render('layouts/errors', :object => @comment) %>

<div class="well">
  <%= form_for [@post, @comment] do |f| %>
  <div class="form-group">
    <%= f.label :reply %>
  </div>
    <div class="form-group">
    <%= f.text_area :reply, size: "90x10" %>
  </div>
    <%= f.submit %>
  <% end %>
</div>
