<%= render('layouts/errors', :object => @comment) %>
<div id="comment_form">
<%= form_for [@post, @comment], remote: true do |f| %>
  <div class="form-group">
    <%= f.label :reply, :class => "gray" %>
  </div>
    <div class="form-group">
    <%= f.text_area :reply, id: "comment_reply", size: "50x10" %>
  </div>
    <%= f.submit %>
<% end %>
</div>
