<%= render "layouts/errors", :object => @post %>

<div class="well">
<%= form_for @post do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>
  <div class="form-group">
    <%= f.label :entry %>
  </div>
  <div class="form-group">
    <%= f.text_area :entry, size: "90x20" %>
  </div>
  <%= f.submit %>
<% end %>
</div>
