<h1><%= @post.title %></h1>
<h4><%= @post.date %></h4>
<p>
  <%= link_to "Edit Post", edit_post_path(@post) %> |
  <%= link_to "Delete Post", post_path(@post),
                            :data => {:confirm => "Sure?",
                            :method => "delete"} %>
</p>
<h4><%= @post.entry %></h4>




<% if @post.comments.any? %>
  <h4>Comments:</h4>
  <ul>
    <% @post.comments.each do |comment| %>
    <li><%= comment.reply %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no comments.</p>
<% end %>


<p><%= link_to "Home", posts_path %></p>
