<h1><%= @post.title %></h1>
<h4><%= @post.date %></h4>
<h4><%= @post.entry %></h4>


<p>
  <%= link_to "Edit Post", edit_post_path(@post) %> |
  <%= link_to "Delete Post", post_path(@post),
                            :data => {:confirm => "Sure?",
                            :method => "delete"} %>
</p>

<p><%= link_to "Home", posts_path %></p>
