<h1><%= @post.title %></h1>
<h4><%= @post.date %></h4>
<p>
  <%= link_to "Edit Post", edit_post_path(@post) %> |
  <%= link_to "Delete Post", post_path(@post),
                            :data => {:confirm => "Sure?",
                            :method => "delete"} %>
</p>
<h4><%= @post.entry %></h4>





<h4>Comments:</h4>

  <% if @post.comments.any? %>
    <ul>
      <% @post.comments.each do |comment| %>
      <li>
        <%= comment.reply %>
        <%= link_to "Edit", edit_post_comment_path(@post, comment) %> |
        <%= link_to "Delete", post_comment_path(@post, comment),
                              :data => {:confirm => "Sure?",
                              :method => "delete"} %>

      </li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no comments.</p>
  <% end %>

<p><%= link_to "Add comment", new_post_comment_path(@post) %></p>
<p><%= link_to "Home", posts_path %></p>
