<div class="well">
  <h4><%= @post.title %></h4>
  <p><%= @post.date %></p>
  <p>
    <%= link_to "Edit", edit_post_path(@post) %> |
    <%= link_to "Delete", post_path(@post),
                              :data => {:confirm => "Sure?",
                              :method => "delete"} %>
  </p>
  <hr>
  <p><%= @post.entry %></p>
</div>


<div class="well">

<%= render template: 'comments/new' %>

<h3 id="comments">Comments:</h3>

<div id="all_comments">
  <%= render @comments %>
</div>


</div>
