<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <ul class="nav navbar-nav navbar-left">
        <li id="nav-header"><%= link_to "Home", posts_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar pull-right">
        <% if user_signed_in? %>
          <li><%= link_to "New Post", new_post_path %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li> <%= link_to "Sign up", new_user_registration_path %> </li>
          <li> <%= link_to "Sign in", new_user_session_path %> </li>
        <% end %>
      </ul>
    </nav>
    <% if user_signed_in? %>
      <p class="right-align">Logged in as <%= current_user.email %></p>
    <% end %>
    <div>
      <%= flash[:alert] %>
      <%= flash[:notice] %>
    </div>
    <%= yield %>
  </div>
</body>
</html>
